body {
  margin: 0;
  z-index: -1;
  position: relative;
  background-color: #21232E; }

header {
  background: url("../img/m-h-night.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
  border-radius: 0 0 40% 0; }

.landing-logo, .footer_logo {
  color: #FFFFFF;
  font-family: "Fresca", sans-serif;
  display: flex; }
  .landing-logo p, .footer_logo p {
    font-weight: bold;
    font-size: 30px;
    margin-top: 25px;
    padding-left: 20px;
    line-height: 1.2; }
  .landing-logo span, .footer_logo span {
    font-size: 13px;
    display: block;
    text-align: center;
    width: 100%; }
  .landing-logo img, .footer_logo img {
    margin-top: 25px;
    margin-left: 2px;
    height: 55px;
    width: 55px; }

.header-wrap {
  margin-left: 190px; }

.header_heading {
  font-size: 5.5em;
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5.5em;
  width: 55%;
  margin-top: 65px;
  line-height: 105%;
  position: relative;
  z-index: 1;
  margin-bottom: 40px; }
  .header_heading::after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 370px;
    height: 60px;
    background: #FF4E33;
    left: 0px;
    top: 120px; }

.header_text {
  font-size: 1.25em;
  font-family: "Fresca", sans-serif;
  color: #FFFFFF;
  font-weight: 350;
  line-height: 30px;
  white-space: pre;
  margin-left: -55px;
  padding-bottom: 15px; }

.header_button {
  color: white;
  background-color: #E3AC00;
  border: 0px;
  height: 60px;
  width: 180px;
  font-weight: 600;
  font-size: 23px;
  font-family: 'Source Sans Pro', sans-serif; }

.login {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.55em;
  color: white;
  margin-left: 185px;
  padding-bottom: 3px; }

.section_text {
  font-size: 3.3em;
  color: #FFFFFF;
  font-weight: 550;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 45px;
  padding-left: 25px;
  position: relative;
  z-index: 1; }
  .section_text::after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 240px;
    height: 60px;
    background: #FF4E33;
    right: 690px;
    bottom: 10px; }

.section_card {
  justify-content: center;
  display: flex;
  background-color: #3B3F50;
  width: 59%;
  height: 18vw;
  margin: auto;
  border: 3px;
  border-radius: 7px;
  margin-top: -5px;
  margin-bottom: 35px;
  margin-left: 20.75vw; }
  .section_card_img {
    padding: 20px;
    margin-top: 5px;
    margin-left: 5px;
    border: 3px;
    border-radius: 25px;
    height: 85%;
    width: 95%; }
  .section_card_right_container {
    display: flex;
    flex-direction: column;
    margin-top: 30px; }
  .section_card_heading {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding-right: 50px;
    margin-bottom: 25px; }
  .section_card_text {
    font-size: 20px;
    font-family: "Fresca", sans-serif;
    color: #CACED1;
    font-weight: 400;
    padding: 0px 128px 0px 75px;
    margin-top: 0px;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 13px; }

.section_link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 530;
  font-size: 20px;
  color: #CACED1;
  text-align: center;
  padding-right: 50px; }

.section_banner {
  display: flex;
  justify-content: center;
  background-color: #4D7C64;
  background-image: linear-gradient(to right, #DFA505, #953150);
  height: 9.5vw;
  margin: 9vw 18vw 0 19vw;
  border: 10px;
  border-radius: 10px;
  z-index: +1;
  width: 62.5vw;
  position: absolute;
  bottom: 215px;
  right: 0px; }
  .section_banner_text_wrap {
    padding-right: 230px;
    height: 8vw; }
  .section_banner_heading {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 30px;
    margin-bottom: 16px;
    text-align: justify;
    position: relative; }
    .section_banner_heading::after {
      content: "";
      z-index: -1;
      background: #FF4E33;
      height: 60px;
      width: 83px;
      position: absolute;
      right: 300px;
      top: -10px; }
  .section_banner_text {
    font-size: 20px;
    font-family: "Fresca", sans-serif;
    color: #CACED1;
    font-weight: 400;
    margin-top: 0;
    text-align: justify;
    padding-left: 3px; }
  .section_banner_button {
    color: white;
    background-color: #E3AC00;
    border: 0px;
    height: 60px;
    width: 180px;
    font-weight: 600;
    font-size: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 60px; }

.footer {
  background-color: #3B3F50;
  margin-top: 260px;
  height: 310px; }
  .footer_logo {
    padding-left: 200px;
    color: #CACED1; }
  .footer-wrap {
    display: flex;
    padding-top: 140px; }
  .footer_text {
    font-size: 17px;
    font-family: "Fresca", sans-serif;
    color: #CACED1;
    font-weight: 500;
    padding: 0 200px 0 350px;
    width: 20%; }
  .footer-cr {
    font-size: 20px;
    font-family: "Fresca", sans-serif;
    color: #CACED1;
    font-weight: 400;
    margin-left: 185px;
    padding-top: 40px; }
