$body-bg: #21232E;

$text_colors: ("header": #FFFFFF, "section_text": #CACED1);

$background_picture: "../img/m-h-night.jpg";

$font: 'Fresca', sans-serif;

$highlight: #FF4E33;

$btn_color: #E3AC00;

$section_card_color: #3B3F50;

$grad_left: #DFA505;

$grad_right: #953150;