@media print {
	body {
		text-align: center;
		padding-top: 0px;
	}
	section {
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.tm-banner-text {
		letter-spacing: 5px;
	}
	.tm-content-box {
		margin-bottom: 0px;
	}
	.flex-item {
		padding-bottom: 0px;
	}
	.tm-team-description-container {
		max-width: 95%;
		padding-top: 0px;
	}
	.tm-main-content {
		padding-top: 0px;
	}
	#home {
		margin-bottom: 0px;
	}
	#heading {
		margin-bottom: 0px;
	}
	div {
		margin: auto;
	}
	h2 {
		text-transform: uppercase;
		margin: auto;
		text-align: center;
		font-weight: bold;
	}
	.container {
		margin: 0px;
	}
	.tm-sidebar, .tm-team-img, #about, .boxes, .img-fluid, #contact, .carousel-indicators, section::before, .text:after {
		display: none;
	}
	.padding-medium {
		padding: 0px;
		display: inline-block;
	}
	.tm-section-description {
		font-style: italic;
	}
	div h2 {
		color: lightskyblue;
		font-weight: 300;
		width: 100%;
	}
	.heading ol {		
		display: inline;
		margin-bottom: 0px;
		list-style: none;
	}
	ol li:nth-child(even) {
		text-align: right;
		width: 300px;
	}
	ol li:nth-child(odd) {
		text-align: left;
	}
	#tmCarousel {
		padding: 0px;
	}
	.tm-footer {
		padding-bottom: 0px;
	}
	.text-xs-center {
		margin-bottom: 0px;
	}
}
.tm-nav-item-link:hover, .box-bg:hover h2 {
	background-color: lightskyblue;
	color: #fff;
}
.tm-banner {
	background: linear-gradient(to top, lightskyblue 0%, burlywood 100%);
}
.tm-banner-inner {
	background-color: white;
}
.tm-banner-text {
	text-shadow: 0px 10px 1.5px #76cdd7, 0px 3px 0px #76cdd7;
	letter-spacing: 2.5px;
	word-spacing: 15px;
	animation-name: tm-banner-text-rotate;
	animation-duration: 3s;
	animation-iteration-count: 1;
}
@keyframes tm-banner-text-rotate {
	0% {transform: rotate(45deg)}
	100% {transform: rotate(0deg)}
}
nav, section, #home {
	box-shadow: 0px 3px 15px rgba(61, 55, 61, 0.7);
}
.flex-2-col {
	display: flex;
	flex-direction: row-reverse;
	vertical-align: middle;
}
.tm-section-description {
	font-style: italic;
	text-indent: 20px;
}
.tm-team-description-container {
	display: flex;
	flex-direction: column;
	margin: auto;
}
.blocks > :first-child {
	margin-left: 0px;
}
.tm-section-title {
	text-align: center;
}
section::before {
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 45px 45px 0 0;
	border-color: lightskyblue transparent transparent transparent;
}
.heading h2 {
	text-align: center;
	color: lightskyblue;
} 
ol {
	list-style: decimal-leading-zero;
}
.heading a:hover:before {
	content: ">"
}
.heading a:hover {
	color: red;
	font-weight: bold;
}
.text:after {
	content: " New";
	vertical-align: super;
  	font-size: smaller;
  	font-family: Arial, Helvetica, sans-serif;
  	font-weight: bold;
  	color: red;
}
.text:hover:after {
	position: absolute;
}
.box-work p {
	font-style: italic;
}
.box-work p::first-letter {
	font-weight: bold;
}
.gallery-container li{
	padding: 10px;
}
#about li {
	background-color: white;
	padding: 0;
}
.boxes li:nth-child(even) {
	background-color: lightskyblue;
	color: #fff;
}
#contact h2 {
	text-align: right;
}
#contact input {
	border: none;
	border-bottom: 1px solid lightskyblue;
}
#contact_subject {
	background-image: url("../img/email-icon.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 24px 24px;
}
.form-control:focus {
	box-shadow: none;
	color: white;
	background-color: lightskyblue;
}
.btn {
	float: right;
	background-color: white;
	color: lightskyblue;
	border-radius: 0px;
	border: 2px solid lightskyblue;
	width: 12%;
	font-weight: normal;
}
.btn:hover {
	background-color: lightseagreen;
	color: white;
	border: 2px solid lightseagreen;
}