@media only screen and (min-width: 769px){
    body {
    font-family: roboto;
    margin: 0;
    background-color: #0b192f;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #162b4d;
      color: #b8b8b8;
      margin-left: 47px;
      margin-right: 51px;
      height: 95px;
      align-items: center;
    }
    nav {
      width: 50%;
      margin-right: 29px;
    }
    ul {    
        display: flex;
        margin-right: 44px; 
        margin-top: 0;
        margin-bottom: 0;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        width: 100%;
    }
    li  {
        color: #fff;
        font-weight: 500;
        font-size: 18px; 
        font-weight: 300;
        box-sizing: border-box;
        padding: 36px 33px 36px 33px;
        transition: background 0.5s ease;
        position: relative;
    }
    li:after {
      transition: opacity 1s ease;
      content: "";
      position: absolute;
      opacity: 0;
      background-color: #fff;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    li:hover {
      transition: background 0.5s ease;
    }
    li:hover a {
      color: #b8b8b8;
    }
    li:hover:after {
      opacity: 0.3;
    }
    li a, header div a{
      text-decoration: none; 
      color: #fff;
    }
    #logo {
      margin-left: 25px;
      font-size: 36px;
      font-weight: 300;
    }
    #logo span {
      color: #6a0dad;
    }
    main {
      margin-left: 47px;
      margin-top: 2%;
      display: flex;
      color: #484848;
    }
    .parent {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      height: 100%;
      width: 100%;
      grid-template-rows: 317px 372px 394px 317px 460px;
      margin-right: 22px;
      grid-auto-columns: minmax(min-content, max-content); 
    }
    article {
      display: flex;
    }
    .parent > article:nth-child(odd) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .parent > article:nth-child(odd) > div:nth-of-type(2) {
      margin: 4% 0 0 4%;
    }
    .parent > article:nth-child(odd) > div:nth-of-type(1) > div:nth-of-type(2){
      padding-right: 0;
      margin: 5% 0% 0 4%;
      text-align: right;
    }
    .parent > article:nth-child(odd) > div:nth-of-type(1)  {
      text-align: right;
      margin: 3% 7% 0% 4%;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; position: relative;}
    .post-1 { grid-area: 1 / 2 / 2 / 3; background: #F3D250; position: relative;}
    .post-2{ grid-area: 2 / 1 / 3 / 2; background: #8D8741; position: relative;}
    .div2 { grid-area: 2 / 2 / 3 / 3; position: relative;}
    .div3 { grid-area: 3 / 1 / 4 / 2; position: relative;}
    .post-3 { grid-area: 3 / 2 / 4 / 3; background: #659DBD; position: relative;}
    .post-4 { grid-area: 4 / 1 / 5 / 2; background: #DAAD86; position: relative;}
    .div4 { grid-area: 4 / 2 / 5 / 3; position: relative;}
    .post-5 { 
      grid-area: 5 / 1 / 6 / 3; 
      background-image: url("../img/post5.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      padding-left: 25px;
      line-height: 29px;
      font-weight: 300;
      font-size: 15px;
      padding-right: 7px;
      word-spacing: -1px;
    }
    .post-5 h2 {
      margin-top: 235px;
      font-size: 36px;
      font-weight: 300;
      word-spacing: -1px;
    }
    .div1 img, .div2 img, .div3 img, .div4 img, .div5 img{
      height: 100%;
      width: 100%;
    }
    .post_header {
      margin: 7% 0px 4% 36px;
      letter-spacing: 1.1px;
      padding-right: 7%;
      font-size: 34px;
      font-weight: 200;
    }
    .post_date {
      margin: 11px 15px 0 0;
      font-size: 26px;
      font-weight: 200;
    }
    .post_date_number {
      font-size: 51px;
    }
    .post_info {
      margin: 10px 4% 50px 7%;
      font-size: 15px;
      font-weight: 200;
      line-height: 29px;
      margin-top: 0px;
      padding-right: 7%;
    }
    .div1:after, .post-1:after, .div2:after, .post-2:after, .div3:after, .post-3:after, .div4:after, .post-4:after{
      transition: opacity 1s ease;
      content: "";
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .div1:after, .post-1:after {
      background-color: #F3D250;
    }
    .div2:after, .post-2:after {
      background-color: #8D8741;
    }
    .div3:after, .post-3:after {
      background-color: #659DBD;
    }
    .div4:after, .post-4:after {
      background-color: #DAAD86;
    }
    .div1:hover, .post-1:hover, .div2:hover, .post-2:hover, .div3:hover, .post-3:hover, .div4:hover, .post-4:hover {
      transition: background 0.5s ease;
    }
    .div1:hover:after, .post-1:hover:after, .div2:hover:after, .post-2:hover:after, .div3:hover:after, .post-3:hover:after, .div4:hover:after, .post-4:hover:after{
      opacity: 0.5;
    }
    .aside {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 485px 585px;
      grid-column-gap: 0px;
      grid-row-gap: 25px;
      margin-right: 50px;
      width: 33%;
      font-weight: 200;
    }
    .aside h2 {
      font-weight: 200;
      font-size: 29px;
      margin-top: 12%;
      padding-right: 22px;
      margin-bottom: 10%;
    }
    .aside button {
      background-color: #fff;
      border: 2px solid black;
      margin-top: 22px;
      padding: 9px 4px 7px 7px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .aside button:hover {
      border: 0;
      border-bottom: 2px solid black;
      padding-bottom: 7px;
    }
    .news1 { 
      grid-area: 1 / 1 / 2 / 2; 
    }
    .news2 { 
      grid-area: 2 / 1 / 3 / 2;; 
    }
    .news1 img {
      width: 100%;
      height: 28%;
    }
    .news_content {
      padding-left: 10%; 
    }
    .news2 img {
      width: 100%;
      height: 35%;
    }
    .news1, .news2 {
      background-color: #fff;
    }
    .news_content div {
      padding-top: 4px;
      font-size: 15px;
      line-height: 24px;
      padding-right: 10%;
    }
    footer {
      margin: 25px 55px 0 47px;
      background-color: #162b4d;
      height: 100px;
      color: #b8b8b8;
    }
    #footer_content {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding: 22px 22px 0 22px;
      line-height: 25px;
    }
  }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    body {
    font-family: roboto;
    margin: 0;
    background-color: #0b192f;
    }
    header {
      justify-content: space-between;
      align-items: center;
      background-color: #162b4d;
      color: #b8b8b8;
      margin-left: 10px;
      margin-right: 10px;
      height: 27vw;
      align-items: center;
    }
    #sandwich {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
    }
    .sandwich {
      margin-left: 200px;
      width: 15px;
      height: 3px;
      background-color: #fff;
      margin: 1px 0;
    }
    nav {
      visibility: hidden;
    }
    header div a{
      text-decoration: none; 
      color: #fff;
    }
    #logo {
      margin-top: 10%;
      font-size: 36px;
      font-weight: 300;
    }
    #logo span {
      color: #6a0dad;
    }
    main {
      margin-left: 10px;
      margin-top: 2%;
      display: flex;
      justify-content: start;
      color: #484848;
    }
    .parent {
      display: grid;
      grid-template-columns: 97%;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      height: 100%;
      width: 100%;
      margin-right: 0px;
      grid-auto-columns: minmax(min-content, max-content); 
    }
    .div1 { grid-area: 1 / 1 / 2 / 2;}
    .post-1 { grid-area: 2 / 1 / 3 / 2; background: #F3D250;}
    .div2{ grid-area: 3 / 1 / 4 / 2;}
    .post-2 { grid-area: 4 / 1 / 5 / 2; background: #8D8741;}
    .div3 { grid-area: 5 / 1 / 6 / 2;}
    .post-3 { grid-area: 6 / 1 / 7 / 2; background: #659DBD;}
    .div4 { grid-area: 7 / 1 / 8 / 2;}
    .post-4 { grid-area: 8 / 1 / 9 / 2; background: #DAAD86;}
    .post-5 { 
      grid-area: 9 / 1 / 10 / 2; 
      background-image: url("../img/post5.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      padding: 0 1% 25% 7%;
      line-height: 25px;
      font-weight: 300;
      font-size: 15px;
      word-spacing: -1px;
    }
    .post-5 h2 {
      margin-top: 30%;
      font-size: 40px;
      font-weight: 300;
      word-spacing: -1px;
      line-height: 40px;
    }
    .div1 img, .div2 img, .div3 img, .div4 img, .div5 img{
      height: 100%;
      width: 100%;
    }
    .post_header {
      margin: 7% 0px 4% 36px;
      letter-spacing: 1.1px;
      padding-right: 2vw;
      font-size: 40px;
      font-weight: 200;
    }
    .post_date {
      display: flex;
      font-size: 26px;
      font-weight: 200;
      justify-content: center;
    }
    .post_date_number {
      font-size: 35px;
      margin-bottom: 30px;
    }
    .post_date > div:nth-of-type(2) {
      padding-top: 10px;
    }
    .post_info {
      margin: 10px 2% 0px 7%;
      font-size: 15px;
      font-weight: 200;
      margin-top: 0px;
      line-height: 25px;
    }
    .aside {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 25px;
      margin-right: 10px;
      width: 50%;
      font-weight: 200;
      grid-auto-rows: minmax(min-content, max-content); 
    }
    .aside h2 {
      font-weight: 200;
      font-size: 29px;
      margin-top: 12%;
      padding-right: 22px;
      margin-bottom: 10%;
    }
    .aside button {
      background-color: #fff;
      border: 2px solid black;
      margin-top: 22px;
      margin-bottom: 30px;
      padding: 9px 4px 7px 7px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .news1 { 
      grid-area: 1 / 1 / 2 / 2; 
    }
    .news2 { 
      grid-area: 2 / 1 / 3 / 2;; 
    }
    .news1 img {
      width: 100%;
      height: 28%;
    }
    .news_content {
      padding-left: 10%; 
    }
    .news2 img {
      width: 100%;
      height: 35%;
    }
    .news1, .news2 {
      background-color: #fff;
    }
    .news_content div {
      padding-top: 4px;
      font-size: 15px;
      line-height: 24px;
      padding-right: 10%;
    }
    footer {
      margin: 25px 10px 0 10px;
      background-color: #162b4d;
      height: 27vw;
      color: #b8b8b8;
    }
    #footer_content {
      text-align: center;
      font-size: 14px;
      padding: 10% 22px 0 22px;
      line-height: 25px;
    }
  }
  @media only screen and (max-width: 480px) {
    body {
    font-family: roboto;
    margin: 0;
    background-color: #0b192f;
    }
    header {
      justify-content: space-between;
      align-items: center;
      background-color: #162b4d;
      color: #b8b8b8;
      margin-left: 10px;
      margin-right: 10px;
      height: 35vw;
      align-items: center;
    }
    #sandwich {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
    }
    .sandwich {
      margin-left: 200px;
      width: 15px;
      height: 3px;
      background-color: #fff;
      margin: 1px 0;
    }
    nav {
      visibility: hidden;
    }
    header div a{
      text-decoration: none; 
      color: #fff;
    }
    #logo {
      margin-top: 10%;
      font-size: 36px;
      font-weight: 300;
      margin-bottom: 4%;
    }
    #logo span {
      color: #6a0dad;
    }
    main {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 2%;
      color: #484848;
    }
    .parent {
      display: grid;
      grid-template-columns: 100%;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      height: 100%;
      width: 100%;
      margin-right: 0px;
      grid-auto-columns: minmax(min-content, max-content); 
    }
    .div1 { grid-area: 1 / 1 / 2 / 2;}
    .post-1 { grid-area: 2 / 1 / 3 / 2; background: #F3D250;}
    .div2{ grid-area: 3 / 1 / 4 / 2;}
    .post-2 { grid-area: 4 / 1 / 5 / 2; background: #8D8741;}
    .div3 { grid-area: 5 / 1 / 6 / 2;}
    .post-3 { grid-area: 6 / 1 / 7 / 2; background: #659DBD;}
    .div4 { grid-area: 7 / 1 / 8 / 2;}
    .post-4 { grid-area: 8 / 1 / 9 / 2; background: #DAAD86;}
    .post-5 { 
      grid-area: 9 / 1 / 10 / 2; 
      background-image: url("../img/post5.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      padding: 0 1% 25% 7%;
      line-height: 25px;
      font-weight: 300;
      font-size: 15px;
      word-spacing: -1px;
    }
    .post-5 h2 {
      margin-top: 30%;
      font-size: 40px;
      font-weight: 300;
      word-spacing: -1px;
      line-height: 40px;
    }
    .div1 img, .div2 img, .div3 img, .div4 img, .div5 img{
      height: 100%;
      width: 100%;
    }
    .post_header {
      margin: 7% 0px 4% 36px;
      letter-spacing: 1.1px;
      padding-right: 2vw;
      font-size: 40px;
      font-weight: 200;
    }
    .post_date {
      display: flex;
      font-size: 26px;
      font-weight: 200;
      justify-content: center;
    }
    .post_date_number {
      font-size: 35px;
      margin-bottom: 30px;
    }
    .post_date > div:nth-of-type(2) {
      padding-top: 10px;
    }
    .post_info {
      margin: 10px 2% 0px 7%;
      font-size: 15px;
      font-weight: 200;
      margin-top: 0px;
      line-height: 25px;
    }
    .aside {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 25px;
      width: 100%;
      font-weight: 200;
    }
    .aside h2 {
      font-weight: 200;
      font-size: 29px;
      margin-top: 12%;
      padding-right: 22px;
      margin-bottom: 10%;
    }
    .aside button {
      background-color: #fff;
      border: 2px solid black;
      margin-top: 22px;
      padding: 9px 4px 7px 7px;
      margin-bottom: 30px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .news1 { 
      grid-area: 1 / 1 / 2 / 2; 
    }
    .news2 { 
      grid-area: 2 / 1 / 3 / 2;; 
    }
    .news1 img {
      width: 100%;
      height: 28%;
    }
    .news_content {
      padding-left: 10%; 
    }
    .news2 img {
      width: 100%;
      height: 35%;
    }
    .news1, .news2 {
      background-color: #fff;
    }
    .news_content div {
      padding-top: 4px;
      font-size: 15px;
      line-height: 24px;
      padding-right: 10%;
    }
    footer {
      margin: 7% 10px 0 10px;
      background-color: #162b4d;
      height: 35vw;
      color: #b8b8b8;
    }
    #footer_content {
      text-align: center;
      font-size: 14px;
      padding: 10% 22px 0 22px;
      line-height: 25px;
    }
  }