/* so the context menu would work correctly*/
#root {
    height: 500px;
    width: 1000px;
    background: #F6FDFC;
}
span {
    visibility: visible;
}
span:hover {
    background-color: grey;
}
.emptyFolder {
    font-style: italic;
}
#root li {
    list-style: none;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#root i {
    position: absolute;
    color: #FAE15F;
}
#root .fileIcon {
    color: grey;
}
.menu {
    color: #000;
    margin: 0;
    padding: 7px 7px 7px 7px;
    position: fixed;
    list-style: none;
    background: #F9FFF2;
    box-shadow: 14px 17px 6px -16px rgba(0,0,0,0.75);
    border-radius: 2px;
    display: none;
}
.menu.active {
    display: block;
}
input {
    background: #F6FDFC;
    border-color: transparent;
}