body {
	margin: 0;
	z-index: -1;
	position: relative;
	background-color: $body-bg;
}

header {
	background: url($background_picture);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 900px;
	border-radius: 0 0 40% 0;
}

@mixin logo {
	color: map-get($text_colors, "header");
	font-family: $font;
	display: flex;

	p {
		font-weight: bold;
		font-size: 30px;
		margin-top: 25px;
		padding-left: 20px;
		line-height: 1.2;
	}

	span {
		font-size: 13px;
		display: block;
		text-align: center;
		width: 100%;
	}

	img {
		margin-top: 25px;
		margin-left: 2px;
		height: 55px;
		width: 55px;
	}
}

@mixin headers($font-size: 5.5em, $font-weight: bold, $color: map-get($text_colors, "header")) {
	font-size: $font-size;
	color: $color;
	font-weight: $font-weight;
	font-family: 'Source Sans Pro', sans-serif;
}

@mixin text($font-size: 1.25em, $color: map-get($text_colors, "header"), $font-weight: 350) {
	font-size: $font-size;
	font-family: $font;
	color: $color;
	font-weight: $font-weight;
}

@mixin buttons {
	color: white;
	background-color: $btn_color;
	border: 0px;
	height: 60px;
	width: 180px;
	font-weight: 600;
	font-size: 23px;
	font-family: 'Source Sans Pro', sans-serif;
}

@mixin links($font-weight: 400, $font-size: 1.55em, $color: white) {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: $font-weight;
	font-size: $font-size;
	color: $color;
}

.landing-logo {
	@include logo;
}

.header-wrap {
	margin-left: 190px;
}

.header_heading {
	@include headers;
	font-size: 5.5em;
	width: 55%;
	margin-top: 65px;
	line-height: 105%;
	position: relative;
	z-index: 1;
	margin-bottom: 40px;

	&::after {
		z-index: -1;
		position: absolute;
		content: "";
      	width: 370px;
      	height: 60px;
      	background: $highlight;
      	left: 0px;
      	top: 120px;
	}
}

.header_text {
	@include text;
	line-height: 30px;
	white-space: pre;
	margin-left: -55px;
	padding-bottom: 15px;
}

.header_button {
	@include buttons;
}

.login {
	@include links;
	margin-left: 185px;
	padding-bottom: 3px;
}

.section_text {
	@include headers($font-size: 3.3em, $font-weight: 550);
	text-align: center;
	margin-top: 45px;
	padding-left: 25px;
	position: relative;
	z-index: 1;
	&::after {
		z-index: -1;
		position: absolute;
		content: "";
      	width: 240px;
      	height: 60px;
      	background: $highlight;
      	right: 690px;
      	bottom: 10px;
	}
}

.section_card {
	justify-content: center;
	display: flex;
	background-color: $section_card_color;
	width: 59%;
	height: 18vw;
	margin: auto;
	border: 3px;
	border-radius: 7px;
	margin-top: -5px;
	margin-bottom: 35px;
	margin-left: 20.75vw;
	&_img {
		padding: 20px;
		margin-top: 5px;
		margin-left: 5px;
		border: 3px;
		border-radius: 25px;
		height: 85%;
		width: 95%;
	}

	&_right_container {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	&_heading {
		@include headers($font-size: 30px, $font-weight: 600, $color: #FFFFFF);
		text-align: center;
		padding-right: 50px;
		margin-bottom: 25px;
	}

	&_text {
		@include text($font-size: 20px, $color: map-get($text_colors, "section_text"), $font-weight: 400);
		padding: 0px 128px 0px 75px;
		margin-top: 0px;
		text-align: justify;
		line-height: 30px;
		margin-bottom: 13px;
	}
}

.section_link {
	@include links ($font-weight: 530, $font-size: 20px, $color: map-get($text_colors, "section_text"));
	text-align: center;
	padding-right: 50px;

}

.section_banner {
	display: flex;
	justify-content: center;
	background-color: #4D7C64;
	background-image: linear-gradient(to right, $grad_left, $grad_right);
	height: 9.5vw;
	margin: 9vw 18vw 0 19vw;
	border: 10px;
	border-radius: 10px;
	z-index: +1;
	width: 62.5vw;
	position: absolute;
	bottom: 215px;
	right: 0px;

	&_text_wrap {
		padding-right: 230px;
		height: 8vw;
	}


	&_heading {
		@include headers($font-size: 40px, $font-weight: 700, $color: map-get($text_colors, "header"));
		margin-top: 30px;
		margin-bottom: 16px;
		text-align: justify;
		position: relative;
		&::after {
			content: "";
			z-index: -1;
			background: $highlight;
			height: 60px;
			width: 83px;
			position: absolute;
			right: 300px;
			top: -10px;
		}
	}

	&_text {
		@include text($font-size: 20px, $color: map-get($text_colors, "section_text"), $font-weight: 400);
		margin-top: 0;
		text-align: justify;
		padding-left: 3px;
	}

	&_button {
		@include buttons;
		margin-top: 60px;
	}
}

.footer {
	background-color: $section_card_color;
	margin-top: 260px;
	height: 310px;

	&_logo {
		@extend .landing-logo;
		padding-left: 200px;
		color: map-get($text_colors, "section_text");
	}

	&-wrap {
		display: flex;
		padding-top: 140px;
	}

	&_text {
		@include text($font-size: 17px, $color: map-get($text_colors, "section_text"), $font-weight: 500);
		padding: 0 200px 0 350px;
		width: 20%;
	}

	&-cr {
		@include text($font-size: 20px, $color: map-get($text_colors, "section_text"), $font-weight: 400);
		margin-left: 185px;
		padding-top: 40px;
	}
}