$body-bg: #FFFFFF;

$text_colors: ("header": #2C2F3C, "section_text": #AFBBC4);

$background_picture: "../img/m-h-day.jpg";

$font: 'Source Sans Pro', sans-serif;

$highlight: #14A0C7;

$btn_color: #699900;

$section_card_color: #21232E;

$grad_left: #66960B;

$grad_right: #2F5DD1;