#bookList {
    overflow: scroll;
}
#bookList div {
    display: flex;
    justify-content: space-between;
}
div {
    border: 1px solid black;
}
#root {
    display: flex;
}
#bookList, #dynamic {
    width: 50%;
}
.bookPreview, form{
    display: flex;
    flex-direction: column;
}
form textarea{
    height: 100px;
}