body {
  margin: 0; 
  min-width: 900px;
  overflow-x: hidden;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5.3vw; 
}

header ul {    
  	display: flex;
    list-style-type: none;
    margin-right: 13vw; 
}

header ul li {
	color: #777;
    font-weight: 500;
    font-size: 21px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-right: 2vw; 
}

header ul li a {
	text-decoration: none; 
}

header ul li a:hover {
	color: #bfba55; 
}

header ul li a:visited {
	color: #777; 
}

header ul li a:visited:hover {
	color: #bfba55; 
}

#logo {
  color: #777;
  font-weight: 500;
  font-size: 24px;
  font-family: Rockwell Extra Bold, Rockwell Bold,monospace; 
  text-transform: uppercase;
  margin-left: 14vw; 
  letter-spacing: 5px;
  word-wrap: normal;
}

#head_section {
	height: 950px;
  	background-image: linear-gradient(rgba(0,0,0,0.7) 100%, rgba(0,0,0,0.7) 100%), url("../img/home-bg.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

#head_section_content {
	min-width: 900px;
	width: 100%;
  	color: #bfba55;
  	font-family: Rockwell Extra Bold, Rockwell Bold,monospace; 
  	letter-spacing: 2px;
}

#header_home {
	font-size: 5em;
	font-weight: 600;
	color: white;
	font-family: Rockwell Extra Bold, Rockwell Bold,monospace; 
	margin-bottom: 0.2em;
	word-spacing: -30px;
}

#head_section_content button{
	margin-top: 55px;
	background-color: white;
	border: 5px solid white;
	border-radius: 20px;
	height: 10%;
	text-transform: uppercase;
	font-size: 15px;
	font-family: Rockwell Extra Bold, Rockwell Bold,monospace; 
	font-weight: 600;
	color: #777;
	width: 10%;
}

#first_blog {
	margin-top: 7vw;
}

.blog_post {
	margin: 5vw 20% 0;
	width: 60%;
	height: auto;
}

.blog_post h2 {
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 2.3em;
	font-family: Rockwell Extra Bold, Rockwell Bold,monospace; 
	font-weight: 600;
	letter-spacing: -1px;
	word-spacing: -10px;
}

.blog_post button {
	margin: 50px 0 0 10px;
	height: 60px;
	width: 220px;
	color: #777;
	border: 1px solid #777;
	background-color: white;
	border-radius: 30px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: 600;
	font-size: 19px;
}

.blog_post hr {
	margin-top: 70px;
	border-top: #777;
}

div img {
	border-radius: 50%;
	height: 50px;
}

.blog_img {
	width: 100%;
	height: auto;
}

.blog_info {
	margin-top: 20px;
	padding-left: 7px;
	display: flex;
	align-items: center;
}

.blog_info span {
	padding: 5px 10px 10px 10px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 17px;
}

.blog_text {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	padding-left: 5px;
	margin-top: 25px;
	font-size: 18px;
	line-height: 30px;
	color: #777;
}

footer {
	margin-top: 140px;
	background-color: black;
	color: #777;
	display: flex;
	justify-content: center;
	padding-left: 20vw;
	height: 450px;
	min-width: 900px;
}

footer h2 {
	font-weight: 600;
	color: white;
	font-family: Rockwell Extra Bold, Rockwell Bold,monospace; 
	margin-left: 10px;
	font-size: 40px;
	word-spacing: -10px;
	margin-top: 15px;
	letter-spacing: -3px;
	margin-bottom: 5px;
}

.footer_info, .contact_info{
	width: 30vw;
	margin-top: 80px;
}

.footer_info {
	margin-right: 130px;
}

.footer_info div, .contact_info div{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 10px;
	line-height: 30px;
}

.contact_info {
	margin-right: 240px;
}